<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="audio" method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Upload</button>
    </form>

    <div class="mt-4">
      <div class="d-flex justify-content-center links">
        <a href="{% url 'index' %}" class="ml-2">Back</a>
      </div>
    </div>

    <div class="mt-4">
      <div class="d-flex justify-content-center links">
        <a href="{% url 'logout' %}" class="ml-2">Logout</a>
      </div>
    </div>
</body>
</html>
